body{
  background:#0f4c81;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Poppins;
}

.auth-card{
  background:#fff;
  padding:30px;
  width:350px;
  border-radius:10px;
  text-align:center;
}

.auth-card img{
  width:120px;
  margin-bottom:10px;
}

.auth-card input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

.auth-card button{
  width:100%;
  padding:10px;
  background:#0f4c81;
  color:#fff;
  border:none;
  cursor:pointer;
}

#msg{
  color:red;
  margin-top:10px;
}
